@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: none;
}

/* Typical Device Breakpoints

Mobile: até 600px.
Tablet: de 600 até 768px
Desktop: de 992px até 1200px
Telas Grandes: 1200px a cima 

*/