@charset "UTF-8";

/* Typical Device Breakpoints

Mobile: até 600px.
Tablet: de 600 até 768px
Desktop: de 992px até 1200px
Telas Grandes: 1200px a cima 

*/

@media screen and (max-width: 550px) {

    /*Mobile*/


    * {
        margin: 0;
        padding: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    /*Promoção1*/

    section#promocao1 {
        width: 270px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao1>a>img {
        display: block;
        width: 200px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao1>h2.titulo {
        text-align: center;
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao1>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#promocao1>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao1>a>img:hover {
        width: 205px;
        transition: 0.3s;
    }

    /*Promoção2*/

    section#promocao2 {
        width: 270px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 350px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao2>a>img {
        display: block;
        width: 200px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao2>h2.titulo {
        text-align: center;
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao2>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#promocao2>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao2>a>img:hover {
        width: 205px;
        transition: 0.3s;
    }

    /*Item1*/

    section#item1>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    section#item1 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px 5%;
        right: 53%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item1>a>img {
        display: block;
        width: 125px;
        margin: auto;
    }

    section#item1>h2.titulo {
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item1>h3.preco {
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#item1>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item1>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item2*/

    section#item2 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px 5%;
        left: 53%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item2>a>img {
        display: block;
        width: 125px;
        margin: auto;
    }

    section#item2>h2.titulo {
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item2>h3.preco {
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#item2>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item2>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item3*/

    section#item3 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px 5%;
        right: 53%;
        margin-top: 310px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item3>a>img {
        display: block;
        width: 120px;
        margin: auto;
    }

    section#item3>h2.titulo {
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item3>h3.preco {
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#item3>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item3>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item3>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item4*/

    section#item4 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px 5%;
        left: 53%;
        margin-top: 310px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item4>a>img {
        display: block;
        width: 120px;
        margin: auto;
    }

    section#item4>h2.titulo {
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item4>h3.preco {
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#item4>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item4>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item4>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }


}

@media screen and (min-width: 550px) and (max-width: 992px) {

    /*Tablet*/

    body,
    html {
        height: 1950px;
    }

    h1 {
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-size: 2em;

        font-weight: bolder;
        font-family: 'Bad Script', Courier, monospace;
        color: rgb(218, 165, 32);

    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    h2#h2filtro {
        font-weight: 500;
        width: 150px;
        font-size: 1em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 7%;
    }

    hr#filtro {
        margin-top: 2%;
        width: 17%;
        background-color: black;
        margin-bottom: 3%;
    }

    /*Promoção1*/

    section#promocao1 {
        width: 300px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao1>a>img {
        display: block;
        width: 200px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao1>h2.titulo {
        text-align: center;
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao1>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#promocao1>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao1>a>img:hover {
        width: 205px;
        transition: 0.3s;
    }

    /*Promoção2*/

    section#promocao2 {
        width: 300px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 350px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao2>a>img {
        display: block;
        width: 200px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao2>h2.titulo {
        text-align: center;
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao2>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#promocao2>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao2>a>img:hover {
        width: 205px;
        transition: 0.3s;
    }

    /*Item1*/

    #frase {
        text-align: center;
        width: 80%;
        margin: auto;
        padding-top: 12px;
        padding-bottom: 10px;
        font-size: 0.8em;

        font-weight: normal;
        font-family: 'Red Hat Display' Arial, Helvetica, sans-serif;
        color: rgb(218, 165, 32);
    }

    ul>li {
        display: inline-block;
        width: 110px;
        font-size: 0.9em;
    }

    main>a>img {
        display: none;
        margin: auto;
        width: 92%;

        border-radius: 2px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.252);
    }

    main>a#destaque2>img {
        display: block;
        margin-top: 5%;
    }

    footer>p {
        font-size: 0.8em;
        text-align: center;
        margin-top: 15%;
        padding: 15px;

        color: rgb(0, 0, 0);
    }

    section#item1 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        width: 170px;
        padding: 10px 5%;
        right: 51%;
    }

    section#item1>a>img {
        display: block;
        width: 100px;
        margin: auto;
    }

    section#item1>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item1>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item1>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item1>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item2*/

    section#item2 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        width: 170px;
        padding: 10px 5%;
        left: 51%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item2>a>img {
        display: block;
        width: 100px;
        margin: auto;
    }

    section#item2>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item2>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item2>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item2>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item3*/

    section#item3 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px 5%;
        width: 170px;
        right: 51%;
        margin-top: 270px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item3>a>img {
        display: block;
        width: 100px;
        margin: auto;
    }

    section#item3>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item3>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item3>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item3>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item3>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item4*/

    section#item4 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px 5%;
        width: 170px;
        left: 51%;
        margin-top: 270px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item4>a>img {
        display: block;
        width: 100px;
        margin: auto;
    }

    section#item4>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item4>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item4>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item4>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item4>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    h2#h2promo {
        font-weight: 500;
        width: 100%;
        font-size: 1em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 120px;
    }

    footer {
        width: 100%;
        background-image: url('imagens/cordourada.avif');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        margin-top: 800px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.252);

    }

    footer>p {
        width: 250px;
        margin: auto;
        border-radius: 5px;
        font-weight: 300;
        font-size: 1.05em;
    }

    footer>p>a {
        color: black;
        text-decoration: none;
        transition: .3s ease;
    }

    footer>p>a:hover {
        font-size: 1.06em;
        color: rgb(218, 165, 32);
    }

    section#pagfooter {
        margin-top: 20px;
    }

    section#pagfooter>h4 {
        font-weight: 500;
        text-align: center;
    }

    section#pagfooter>hr {
        height: 2px;
        background-color: #F4D65E;
        width: 17%;
    }

    section#pagfooter>img {
        display: block;
        margin: auto;
        width: 150px;
    }

    section#confooter {
        margin-top: 10px;
    }

    section#confooter>h4 {
        font-weight: 500;
        text-align: center;
    }

    section#confooter>hr {
        height: 2px;
        background-color: #F4D65E;
        width: 17%;
    }

    section#confooter>i>img {
        transform: translate(-450%, 0);
        margin-top: 20px;
        margin-left: 50%;
        width: 20px;
    }

    section#confooter>p#redes {
        display: inline-block;
        transform: translate(-65%);
        text-align: center;
    }



}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /*Desktop*/

    body,
    html {
        height: 2230px;
    }

    h1 {
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-size: 2em;

        color: rgb(218, 165, 32);
        font-weight: bolder;
        font-family: 'Bad Script', Courier, monospace;

    }

    header {
        height: 37px;
    }

    #frase {
        text-align: center;
        width: 80%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 0.8em;

        font-weight: normal;
        font-family: 'Red Hat Display' Arial, Helvetica, sans-serif;
        color: rgb(218, 165, 32);
    }

    ul>li {
        display: inline-block;
        width: 110px;
        font-size: 0.9em;
    }

    main>a>img {
        display: block;
        margin: auto;
        margin-top: 3%;
        width: 92%;

        border-radius: 2px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.252);
    }

    main>a#destaque2>img {
        display: none;
    }

    footer>p {
        font-size: 0.9em;
        text-align: center;
        margin-top: 9%;
        padding: 15px;

        color: rgb(0, 0, 0);
    }

    h2#h2filtro {
        font-weight: 500;
        width: 150px;
        font-size: 1.2em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 7%;
    }

    hr#filtro {
        margin-top: 2%;
        width: 17%;
        background-color: black;
        margin-bottom: 4%;
    }

    /*Promoção1*/

    section#promocao1 {
        width: 570px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao1>a>img {
        display: block;
        width: 300px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao1>h2.titulo {
        text-align: center;
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao1>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#promocao1>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao1>a>img:hover {
        width: 305px;
        transition: 0.3s;
    }

    /*Promoção2*/

    section#promocao2 {
        width: 570px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 450px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao2>a>img {
        display: block;
        width: 300px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao2>h2.titulo {
        text-align: center;
        font-size: 0.9em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao2>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    section#promocao2>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao2>a>img:hover {
        width: 305px;
        transition: 0.3s;
    }

    /*Item1*/

    section#item1 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 1px;
        width: 250px;
        padding: 10px;
        right: 51%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item1>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item1>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item1>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item1>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item1>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item2*/

    section#item2 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        width: 250px;
        padding: 10px;
        left: 51%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item2>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item2>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item2>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item2>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item2>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item3*/

    section#item3 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        width: 250px;
        right: 51%;
        margin-top: 320px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item3>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item3>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item3>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item3>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item3>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item3>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item4*/

    section#item4 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        width: 250px;
        left: 51%;
        margin-top: 320px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item4>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item4>h2.titulo {
        font-size: 1em;
        margin-bottom: 3px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item4>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item4>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item4>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item4>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    h2#h2promo {
        font-weight: 500;
        width: 100%;
        font-size: 1.1em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 130px;
    }

    section#precos>a {
        width: 30%;
    }

    #ap20 {
        left: 19%;
    }

    #at30 {
        right: 19%;
    }

    #ap50 {
        left: 19%;
    }

    #at50 {
        right: 19%;
    }

    footer {
        width: 100%;
        background-image: url('imagens/cordourada.avif');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        margin-top: 1000px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.252);

    }

    footer>p {
        width: 250px;
        margin: auto;
        border-radius: 5px;
        font-weight: 300;
        font-size: 1.05em;
    }

    footer>p>a {
        color: black;
        text-decoration: none;
        transition: .3s ease;
    }

    footer>p>a:hover {
        font-size: 1.06em;
        color: rgb(218, 165, 32);
    }

    section#pagfooter {
        margin-top: 20px;
    }

    section#pagfooter>h4 {
        font-weight: 500;
        text-align: center;
    }

    section#pagfooter>hr {
        height: 2px;
        background-color: #F4D65E;
        width: 17%;
    }

    section#pagfooter>img {
        display: block;
        margin: auto;
        width: 150px;
    }

    section#confooter {
        margin-top: 10px;
    }

    section#confooter>h4 {
        font-weight: 500;
        text-align: center;
    }

    section#confooter>hr {
        height: 2px;
        background-color: #F4D65E;
        width: 17%;
    }

    section#confooter>i>img {
        transform: translate(-450%, 0);
        margin-top: 20px;
        margin-left: 50%;
        width: 20px;
    }

    section#confooter>p#redes {
        display: inline-block;
        transform: translate(-65%);
        text-align: center;
    }



}

@media screen and (min-width: 1200px) {
    /*Telas Grandes*/

    body,
    html {
        height: 1820px;
    }

    header {
        height: 40px;
    }

    h1 {
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-size: 2em;

        color: rgb(218, 165, 32);
        font-weight: bolder;
        font-family: 'Bad Script', Courier, monospace;

    }

    #frase {
        text-align: center;
        width: 80%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 0.8em;

        font-weight: normal;
        font-family: 'Red Hat Display' Arial, Helvetica, sans-serif;
        color: rgb(218, 165, 32);
    }


    ul>li {
        display: inline-block;
        width: 110px;
        font-size: 0.9em;
    }

    main>a>img {
        display: block;
        margin: auto;
        margin-top: 3%;
        width: 92%;

        border-radius: 2px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.252);
    }

    main>a#destaque2>img {
        display: none;
    }

    footer>p {
        font-size: 0.9em;
        text-align: center;
        margin-top: 9%;
        padding: 15px;

        color: rgb(0, 0, 0);
    }

    h2#h2filtro {
        font-weight: 500;
        width: 150px;
        font-size: 1.1em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 5%;
    }

    hr#filtro {
        margin-top: 2%;
        width: 17%;
        background-color: black;
    }

    /*Promoção1*/

    section#promocao1 {

        width: 30%;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        left: 15%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao1>a>img {
        display: block;
        width: 300px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao1>h2.titulo {
        text-align: center;
        font-size: 1em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao1>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#promocao1>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao1>a>img:hover {
        width: 305px;
        transition: 0.3s;
    }

    /*Promoção2*/

    section#promocao2 {
        width: 30%;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        right: 15%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#promocao2>a>img {
        display: block;
        width: 300px;
        margin: auto;
        transition: .3s ease;
    }

    section#promocao2>h2.titulo {
        text-align: center;
        font-size: 1em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#promocao2>h3.preco {
        text-align: center;
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#promocao2>p.cartao {
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    section#promocao2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#promocao2>a>img:hover {
        width: 305px;
        transition: 0.3s;
    }


    /*Item1*/

    section#item1 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        width: 300px;
        padding: 10px;
        right: 50%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item1>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item1>h2.titulo {
        font-size: 1.2em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item1>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item1>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item1>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item1>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item2*/

    section#item2 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        width: 300px;
        padding: 10px;
        left: 53%;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item2>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item2>h2.titulo {
        font-size: 1.2em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item2>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item2>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item2>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item2>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item3*/

    section#item3 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        width: 300px;
        right: 50%;
        margin-top: 320px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item3>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item3>h2.titulo {
        font-size: 1.2em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item3>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item3>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item3>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item3>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /*Item4*/

    section#item4 {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.400);
        border-radius: 5px;
        padding: 10px;
        width: 300px;
        left: 53%;
        margin-top: 320px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }

    section#item4>a>img {
        display: block;
        width: 150px;
        margin: auto;
    }

    section#item4>h2.titulo {
        font-size: 1.2em;
        border-top: 0.5px solid rgba(0, 0, 0, 0.300);
        padding: 10px 0px;
    }

    section#item4>h3.preco {
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    section#item4>p.cartao {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    section#item4>a.botao {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.7em;
        text-align: center;
        display: block;
    }

    section#item4>a.botao:hover {
        background-color: white;
        color: green;
        transition: .3s;
        border: 0.5px solid rgba(0, 0, 0, 0.500);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    h2#h2promo {
        font-weight: 500;
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 12%;
    }

    section#precos>a {
        width: 23%;
        font-size: 90%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #ap20 {
        left: 25%;
    }

    #at30 {
        right: 25%;
    }

    #ap50 {
        left: 25%;
    }

    #at50 {
        right: 25%;
    }

    footer {
        width: 100%;
        background-image: url('imagens/cordourada.avif');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        margin-top: 550px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.252);

    }

    footer>p {
        width: 250px;
        margin: auto;
        border-radius: 5px;
        font-weight: 300;
        font-size: 1.05em;
    }

    footer>p>a {
        color: black;
        text-decoration: none;
        transition: .3s ease;
    }

    footer>p>a:hover {
        font-size: 1.06em;
        color: rgb(218, 165, 32);
    }

    section#pagfooter {
        margin-top: 20px;
    }

    section#pagfooter>h4 {
        font-weight: 500;
        text-align: center;
    }

    section#pagfooter>hr {
        height: 2px;
        background-color: #F4D65E;
        width: 17%;
    }

    section#pagfooter>img {
        display: block;
        margin: auto;
        width: 150px;
    }

    section#confooter {
        margin-top: 10px;
    }

    section#confooter>h4 {
        font-weight: 500;
        text-align: center;
    }

    section#confooter>hr {
        height: 2px;
        background-color: #F4D65E;
        width: 17%;
    }

    section#confooter>i>img {
        transform: translate(-450%, 0);
        margin-top: 20px;
        margin-left: 50%;
        width: 20px;
    }

    section#confooter>p#redes {
        display: inline-block;
        transform: translate(-65%);
        text-align: center;
    }

}