@charset "UTF-8";

/* Typical Device Breakpoints

Mobile: até 600px.
Tablet: de 600 até 768px
Desktop: de 992px até 1200px
Telas Grandes: 1200px a cima 

*/

@media screen and (min-width: 600px) and (max-width: 768px) { /*Tablet*/

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/

}

@media screen and (min-width: 1200px){ /*Telas Grandes*/
    
}