@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;900&display=swap');


body {
  background-color: rgb(255, 255, 255);
  font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;

}

img#whata {
  right: 2%;
  bottom: 5%;
  position: fixed;
  background-color: white;
  width: 60px;
  padding: 5px;
  border-radius: 60px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.481);

}


header {
  height: 5%;
  background-image: url('imagens/cordourada.avif');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.481);
  padding-bottom: 0px;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;

}

header>a {
  margin-right: 2%;
  margin-left: 2%;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  font-size: calc(0.5em + 0.4vw);
}

header>a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 3;
  background-color: rgb(218, 165, 32);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  display: inline-block;
}

header>a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 3;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
  display: inline-block;
}

header>a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  display: inline-block;
}

h1 {
  text-align: center;
  color: rgb(218, 165, 32);
  margin: 0px;
  padding: 0px;
  font-weight: bolder;
  font-family: 'Bad Script', Courier, monospace;

}

hr {
  position: relative;
  top: 1px;
  border: none;
  height: 0.5px;
  background-color: #18272f58;
  margin-bottom: 10px;
  width: 60%;
}

#frase {
  text-align: center;
  width: 80%;
  color: rgb(218, 165, 32);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 0.6em;
  font-family: 'Red Hat Display' Arial, Helvetica, sans-serif;
}

menu {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin-left: -100px;

}

ul>li {
  width: 110px;
  font-size: 0.8em;
  display: inline-block;
}

menu>ul>li>a {
  color: #18272F;
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
  font-weight: normal;
  display: inline-block;
}

menu>ul>li>a:hover {
  color: rgb(218, 165, 32);
  transition: .5s;
  display: inline-block;
}

menu>ul>li>a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 3;
  background-color: rgb(218, 165, 32);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
  display: inline-block;
}

menu>ul>li>a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  padding: 2% 30px 0px 0px;
  text-decoration: none;
  font-weight: normal;
  display: none;
}

.dropdown-menu a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 20px;
  background-color: #F4D65E;
  border-radius: 3px;
  margin: -2px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#cat1:hover {
  background-color: white;
  color: rgb(218, 165, 32);
  transition: .3s;
}

#cat2:hover {
  background-color: white;
  color: rgb(218, 165, 32);
  transition: .3s;
}

#cat3:hover {
  background-color: white;
  color: rgb(218, 165, 32);
  transition: .3s;
}

main>picture>a>img {
  margin: auto;
  display: block;
  width: 92%;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.252);
}

footer {
  background-image: url('imagens/cordourada.avif');
  background-repeat: no-repeat;
  background-size: cover;
}


footer>p {
  font-size: 2.0vh;
  text-align: center;
  margin-top: 220px;
  padding: 10px;
  color: rgb(0, 0, 0);
}